<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"></meta>
        <title>课堂助手</title>
        <link rel="stylesheet" style="text/css" href="/static/css/index.css" />
        <script type="text/javascript" src="/static/js/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="/static/js/index.js"></script>
    </head>
    <body>
        <div id="main">
            <div id="discussions">
                <form onsubmit="return false;">
                    <textarea readonly id="responseText" placeholder="学生讨论区"></textarea>
                    <div id="row">
                        <input id="newMessage" type="text" name="message" />
                        <input id="submitBtn" class="button button-blue" type="button" value="发送" onclick="send(this.form.message.value)" /> 
                        <div class="clear"></div>
                    </div>
                </form>
            </div>
            <button id="ctr_dis"></button>
        </div>
    </body>
</html>